/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/blog/[id]/page.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.page_container___X5fm {}

.page_top__x7n14 {
    display: flex;
    justify-content: space-between;
}

.page_info__nGN75 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page_title__gih9x {
    font-size: 40px;
}

.page_desc__f7EKF {
    font-size: 18px;
    font-weight: 300;
    width: 90%;
}

.page_author__LF9r2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.page_avatar__Qg_tR {
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
    height: 40px;
}

.page_username__noGz7 {
    font-weight: 600;
}

.page_imageContainer__sRiVU {
    flex: 1;
    display: flex;
    height: 300px;
    position: relative;

}

.page_image__96Auz {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
}

.page_content__XNa9c {
    margin-top: 50px;
    font-size: 20px;
    font-weight: 300;
    color: #999;
    text-align: justify;
}

.page_text__ytBhc {
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    .page_top__x7n14 {
        flex-direction: column-reverse;
        padding: 15px;
    }

    .page_info__nGN75 {
        margin-top: 30px;
    }

    .page_content__XNa9c {
        padding: 15px;
        margin-top: 15px;
    }

    .page_author__LF9r2 {
        margin-top: 15px;
    }

}
