/*!******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/dashboard/(auth)/login/page.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************/
.page_container__yBSzi {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}



.page_subtitle__5Oo7u {
    font-size: 20px;
    margin-bottom: 30px;
    color: #bbb;
}

.page_form__4eG2j {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.page_input__SYjDL {
    padding: 20px;
    background-color: transparent;
    border: 2px solid #bbb;
    border-radius: 5px;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

.page_button__TeBE5 {
    width: 300px;
    padding: 20px;
    cursor: pointer;
    background-color: #53c28b;
    border: none;
    border-radius: 5px;
    color: #eee;
    font-weight: bold;
}

.page_button__TeBE5:hover {
    background-color: #30895d;
}
