/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/about/page.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.page_container__eSsIu {}

.page_imgContainer__FfVYb {
    width: 100%;
    height: 300px;
    position: relative;
}

.page_img__ZI6Oh {
    -o-object-fit: cover;
       object-fit: cover;
    filter: grayscale(100%)
}

.page_imgText__oV57V {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: #53c28b;
    padding: 5px;
    color: white;
}

.page_imgTitle__sGbxk {
    font-size: 30px;
    font-weight: 800;
}

.page_imgDesc__i8Tf5 {
    font-size: 16px;
    font-weight: 400;
}

.page_textContainer__OWOgs {
    display: flex;
    gap: 100px;
}

.page_item__sC5OY {
    flex: 1;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.page_title__7_S0z {
    font-size: 30px;
    font-weight: 800;
}

.page_desc__jYi7G {
    font-size: 18px;
    font-weight: 300;
    text-align: justify;
}


@media screen and (max-width: 768px) {
    .page_imgText__oV57V {
        padding: 15px;
    }

    .page_textContainer__OWOgs {
        flex-direction: column;
        padding: 15px;
    }

    .page_item__sC5OY {
        margin-top: 0;
    }

}
/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/Button/button.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.button_button__dM7gR {
    padding: 20px;
    cursor: pointer;
    background-color: #53c28b;
    border: none;
    border-radius: 5px;
    width: -moz-max-content;
    width: max-content;
    color: white;
}
