/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/Button/button.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.button_button__dM7gR {
    padding: 20px;
    cursor: pointer;
    background-color: #53c28b;
    border: none;
    border-radius: 5px;
    width: -moz-max-content;
    width: max-content;
    color: white;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/portfolio/[category]/page.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/
.page_container__rbqPi {}

.page_catTitle__h0Kxu {
    color: #53c28b;
}

.page_item__XrdDN {
    display: flex;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.page_item__XrdDN:nth-child(2n+1) {
    flex-direction: row-reverse;
}

.page_imgContainer__jROYU {
    flex: 1;
    height: 500px;
    position: relative;
}

.page_img__2W4GD {
    -o-object-fit: cover;
       object-fit: cover;
}

.page_content__shD3S {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.page_title__EpnXR {
    font-size: 50px;
}

.page_desc__dCnr4 {
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .page_catTitle__h0Kxu {
        text-align: center;
    }

    .page_item__XrdDN {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .page_item__XrdDN:nth-child(2n+1) {
        text-align: center;
        flex-direction: column;
    }

    .page_title__EpnXR {
        font-size: 40px;
    }

    .page_img__2W4GD {

        position: relative !important;
    }

}
